* {
  margin: 0;
}

.textare--center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.textare--size {
  width: 80%;
}

#generate-code {
  margin-top: 20px;
}

textarea {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.generator-button {
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.generator-button:hover {
  background-color: #0b91f3;
  box-shadow: 0px 15px 20px rgba(11, 113, 243, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

textarea:hover {
  box-shadow: 0px 15px 20px rgba(11, 113, 243, 0.4);
  transform: translateY(-7px);
}

.text--start-textarea {
  margin-left: 10%;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 50px;
}

.button--copy {
    position: absolute;
    left: 85%;
    margin-top: 25%;

    font-family: "Roboto", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    z-index: 1;
  }

  .button--copy:hover {
    background-color: #0b91f3;
    box-shadow: 0px 15px 20px rgba(11, 113, 243, 0.4);
    color: #fff;
    transform: translateY(-7px);
    z-index: 1;
  }




